/* General styles for the score container */
.score-container {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.chart-container h4 {
    margin-bottom: 10px;
}

/* Container for the Doughnut charts */
.doughnut-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (optional) */
    margin-top: 20px; /* Adjust as needed */
}

/* Flex container to wrap Doughnut charts */
.doughnut-charts {
    width: 60%; /* Adjusted to fit two charts per line */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px; /* Space between charts */
}

/* Style for individual Doughnut charts */
.doughnut-charts .doughnut-chart {
    width: 40%; /* Adjust to make the charts smaller */
    height: auto; /* Ensure height scales proportionally */
}

/* User section and content styles */
.user-section {
    margin-bottom: 20px;
}

.user-content {
    display: flex;
    align-items: flex-start;
}

/* Ensure table and chart containers are appropriately sized */
.table-container {
    flex: 1 1 100%; /* Take full width in smaller screens */
    margin-left: 20px;
}

.table-container button {
    margin-top: 10px;
    padding: 5px;
}

.table-container h3 {
    text-align: center;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container td {
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
    color: black;
    padding: 8px;
}

.table-container tr {
    padding: 8px;
}

.table-container th {
    background-color:  var(--primary);
    color: white;
    text-align: center;
}
