/* History.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.grade-group {
    width: 100%;
    margin-bottom: 20px;
}

.grade-text {
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.7em;
    color: #ffffff;
}

.button-group {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.history-bth {
    border: 2px solid #1d39c4;
    outline: none;
    background: #fff;
    color: #1d39c4;
    border-radius: 18px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

.history-bth:hover {
    background: #1d39c4;
    color: #fff;
}
