.create-lesson-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .create-lesson-header {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .create-lesson-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .radio-group {
    display: flex;
    gap: 10px;
    margin-top: 8px;
  }
  
  .radio-option {
    display: flex;
    align-items: center;
  }
  
  .radio-option input {
    margin-right: 5px;
  }
  
  .submit-button {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .radio-option-year{
    display: flex;
    gap: 10px;
    align-items: center;
    color: black;
  }