:root {
  --navbar-height: 56px;
  --light: #f6f6f9;
  --primary: #1976D2;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
  --light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  background: url('./Components/Assets/background.jpg')no-repeat;
  background-size: cover;
}

.app-body {
  display: grid;
  grid-template-columns: 250px 1fr;
  flex-grow: 1;
  margin-top: var(--navbar-height); /* Adjusted to avoid overlapping with navbar */
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  margin-top: var(--navbar-height); /* Ensure content starts below the navbar */
  margin-left: 50px; /* Space for the fixed sidebar */
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.content {
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: all 0.3s ease;
}

.tab-link {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.tab-link.active {
  background-color: #036596;
  color: white;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.tab-link:hover {
  background-color: #ddd;
}
